<%- include('partials/header') %>
<div class="container">
    <h2 id="h2-title">Your Blog Post</h2><br>

    <form class="form-group" action="/submit" method="POST">
        <div class="form-item">
            <h3>Title</h3>
            <input type="text" id="title" name="title" required><br>
        </div>
        <div class="form-item">
            <h3>Your Text</h3>
            <textarea id="content" name="content" class="custom-textarea" required></textarea>
        </div>
        <div class="button-container">
            <input type="submit" id="butn" value="Submit">
        </div>
    </form>
</div>
